<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="css/share.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>InstantTransfer</title>
</head>
<body>
<div class="container">
    <form id="fileTransfer" role="form">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body" id="scrollDiv" style='max-height: 130px; overflow-y: auto'>
                        <h2>Send upto 2GB</h2>
                        <ul id="added-files">
                            <li class="add">
                                <input id="upload-input" type="file" name="upload-input" multiple="multiple" required></br>
                                <button class="btn btn-sm upload-btn" type="button"><span class="glyphicon glyphicon-plus"></span>Add Files</button>
                            </li>
                        </ul>
                    </div>
                    <div id="receiver">
                        <input type="email" class="form-control" name="friends-email" id="friends-email" placeholder="Friend's Email" required>
                    </div>
                    <div id="sender">
                        <input type="email" class="form-control" name="user-email" id="user-email" placeholder="Your's Email" required>
                    </div>
                    <div id="text-message">
                        <div class="input-group">
                            <textarea class="form-control text-message" id="message" placeholder="Message..." rows="2"></textarea>
                        </div>
                    </div>
                    <div id="transfer">
                        <button id="uploadFile" type="submit" data-loading-text="Transferring..." class="btn btn-lg send-btn">Transfer Now</button>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Status</h4>
            </div>
            <div class="modal-body">
                <p>Email has been sent Successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="close-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    if (!window.jQuery) {
      document.write('<script src="vendor/jquery/dist/jquery.min.js"><\/script>');
    }
  </script>
<script src="minified/spin.min.js"></script>
<script src="minified/ladda.min.js"></script>
<script src="javascripts/ladda.jquery.js"></script>
<script src="javascripts/transfer.js"></script>
</body>
</html>